@font-face {
    font-family: "name";
    src: url(name.ttf) format("truetype");
}

body{
    font-family: name;
    background-image: url(https://media.discordapp.net/attachments/739653078378217615/854104958067408906/white-damask-gray-grey-Floral-pattern-Background-Vinyl-cloth-High-quality-Computer-print-wall-photo-.png?width=982&height=702);
}
#container{
    display: grid;
    justify-self: center;
    width: 640px;
    height: 640px;
    border: 10px solid rgb(59, 122, 122);
    
}

.squares{
    background-color: white;
    border: 2px solid rgb(59, 122, 122);
    box-sizing: border-box;
}


.restart{
    width: 100px;
    height: 100px;
    margin-bottom: 4px;
    border: 1px solid rgb(0, 0, 0);

}
.start{
    width: 100px;
    height: 100px;
    margin-bottom: 4px;
    border: 1px solid rgb(0, 0, 0);

}
.bigcont{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;

}
#placeholder{
    width: 640px;
    height: 640px;
}
.buttonContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background-color: #248a7f;
    margin-right: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.title{
    display: flex;
    
    justify-content: center;
    margin-bottom: 40px;
    text-shadow: 3px 3px #26545c;
}

.grid{
    margin-bottom: 4px;
    margin-top: 4px;
}